@use "../mixins" as mixins;
@use "../colors" as *;

$grid-area: footer;
@mixin content {
  .cut-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &::before {
      content: " ";
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      background-color: color(primary, default);
      -webkit-mask-image: url("/resources/cut.svg");
      mask-image: url("/resources/cut.svg");
      -webkit-mask-size: contain;
      mask-size: contain;
    }

    &::after {
      content: " ";
      display: block;
      width: 100%;
      height: 0.125rem;
      background-image: linear-gradient(to right, color(primary, default) 50%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-size: 16px 2px;
      background-repeat: repeat-x;
    }
  }

  .link-email {
    @include mixins.icon-label("/resources/mail.svg");
  }

  .link-phone {
    @include mixins.icon-label("/resources/call.svg");
  }

  .link-linkedin {
    @include mixins.icon-label("/resources/linkedin.svg");
  }
}
