@use "../typography" as typography;
@use "../variables" as *;

$grid-area: header;

@mixin content {
  position: relative;

  .title {
    @include typography.text-style(header, title);
  }

  .navigation, a, a.selected {
    @include typography.text-style(paragraph, normal);
    font-size: 1.5rem;

    ul {
      list-style-type: none;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .art {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -1;
  }

  @media #{map-get($media-queries, phone)} {
    .art {
      position: static;
      width: 100%;
      height: auto;
    }
  }

  @media #{map-get($media-queries, tablet)} {
    .art {
      position: static;
      width: 100%;
      height: auto;
    }
  }
}
