@use "sass:map";
@use "sass:color";
@use "../typography" as typography;
@use "../colors" as *;
@use "../variables" as *;

@mixin content {
  .post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    padding: 2rem 3rem;
    margin: -1rem 0;

    background: color(other, background-for-reading);
    color: color(text, for-reading);

    @media #{map.get($media-queries, tablet)} {
      padding: 1.5rem 2rem;
      margin: 0 -2rem;
    }

    @media #{map.get($media-queries, phone)} {
      padding: 2rem 1.5rem;
      margin: 0 -1.5rem;
    }

    blockquote {
      color: color.adjust(color(text, for-reading), $lightness: 15%);
    }

    .post__content {
      width: 100%;
      @include typography.typography-tag-margins;

      & :first-child {
        margin-block-start: 0;
      }
    }
  }

  .post + .post {
    margin-top: 5rem;
  }
}
