$palettes: (
        primary: (
                dark: #A6A390,
                default: #D9D7C1,
                light: #EDEBD8
        ),
        secondary: (
                dark: #CC7621,
                default: #F59C33,
                light: #FFBF66
        ),
        tetriary: (
                dark: #5B992E,
                default: #69BF41,
                light: #84E065
        ),
        text: (
                default: #d9d7c1
        ),
        other: (
                background: #0E0D0D
        )
);

@function color($palette-key,$color-key) {
  @if map-has-key($palettes, $palette-key) {
    $palette: map-get($palettes, $palette-key);

    @if map-has-key($palette, $color-key) {
      @return map-get($palette, $color-key);
    }

    @warn "Unknown color with the key `#{$color-key}` in palette with the key `#{$palette-key}`";
    @return null;
  }

  @warn "Unknown palette with the key `#{$palette-key}` in palettes";
  @return null;
}

@mixin color-classes {
  @each $palette-name, $palette in $palettes {
    @each $color-name, $value in $palette {
      .text-color-#{$palette-name}-#{$color-name} {
        color: color($palette-name, $color-name);
      }
      .bg-color-#{$palette-name}-#{$color-name} {
        background-color: color($palette-name, $color-name);
      }
    }
  }
}
