@use "sass:map";
$palettes: (
        primary: (
                dark: #A6A690,
                default: #D9D7C1,
                light: #EDEAD8
        ),
        secondary: (
                dark: #B77C23,
                default: #E59A41,
                light: #FABB64
        ),
        tetriary: (
                dark: #B5A724,
                default: #EBE550,
                light: #FAED7D
        ),
        quaternary: (
                dark: #469939,
                default: #78BE57,
                light: #AEE384
        ),
        quintary: (
                dark: #2A7BA7,
                default: #5AB8E0,
                light: #88D9EB
        ),
        text: (
                default: #D9D7C1
        ),
        other: (
                background: #0E0D0D,
                code: #131212
        )
);

@function color($palette-key,$color-key) {
  @if map.has-key($palettes, $palette-key) {
    $palette: map.get($palettes, $palette-key);

    @if map.has-key($palette, $color-key) {
      @return map.get($palette, $color-key);
    }

    @warn "Unknown color with the key `#{$color-key}` in palette with the key `#{$palette-key}`";
    @return null;
  }

  @warn "Unknown palette with the key `#{$palette-key}` in palettes";
  @return null;
}

@mixin color-classes {
  @each $palette-name, $palette in $palettes {
    @each $color-name, $value in $palette {
      .text-color-#{$palette-name}-#{$color-name} {
        color: color($palette-name, $color-name);
      }
      .bg-color-#{$palette-name}-#{$color-name} {
        background-color: color($palette-name, $color-name);
      }
    }
  }
}
