/* This is the theme for the highlight.js library */

@use "colors" as *;
@use "mixins" as mixins;


@mixin theme {
  .hljs-container {
    position: relative;
    border-radius: 4px;
    scrollbar-width: thin;

    $decoration-line-width: 0.1875rem;

    .hljs-language {
      position: absolute;
      padding: 0.5em 0.5em 1em;
      right: $decoration-line-width;
      background: linear-gradient(0deg, transparent, color(other, code));
      color: color(primary, dark);
    }

    .hljs-fade {
      position: absolute;
      top: 0;
      right: $decoration-line-width;
      bottom: 0;
      width: $decoration-line-width;
      background-color: color(other, background);
    }

    .hljs-scroll-container {
      overflow-x: auto;
      background-color: color(other, code);

      .hljs {
        width: 0;
      }
    }

    @include mixins.scrollbar(color(other, code));
  }

  .hljs {
    padding: 0.5em;
  }

  .hljs,
  .hljs-subst {
    color: color(text, default);
  }

  .hljs-keyword,
  .hljs-type {
    color: color(secondary, default)
  }

  .hljs-built_in{
    color: color(secondary, default)
  }

  .hljs-variable.language_ {
    color: color(secondary, default)
  }

  .hljs-variable,
  .hljs-property,
  .hljs-attr{
    color: color(tetriary, default)
  }

  .hljs-title{
    color: color(quintary, default)
  }

  .hljs-title.function_{
    color: color(quintary, light)
  }

  .hljs-string,
  .hljs-section,
  .hljs-selector-class,
  .hljs-template-variable,
  .hljs-deletion {
    color: color(quaternary, default);
  }
}
