@mixin inter-font {
  @font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    src: local('Inter'), url(/resources/fonts/Inter/static/Inter-Regular.ttf) format('ttf')
  }
  @font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    src: local('Inter'), url(/resources/fonts/Inter/static/Inter-Medium.ttf) format('ttf')
  }
  @font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 600;
    src: local('Inter'), url(/resources/fonts/Inter/static/Inter-SemiBold.ttf) format('ttf')
  }
  @font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    src: local('Inter'), url(/resources/fonts/Inter/static/Inter-Bold.ttf) format('ttf')
  }
  @font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 800;
    src: local('Inter'), url(/resources/fonts/Inter/static/Inter-ExtraBold.ttf) format('ttf')
  }
  @font-face {
    font-family: inter;
    font-style: normal;
    font-weight: 900;
    src: local('Inter'), url(/resources/fonts/Inter/static/Inter-Black.ttf) format('ttf')
  }
}