$base-text-style: (
        font-family: Inter,
        font-size: 1rem,
        font-style: normal,
        font-weight: 400,
        line-height: normal,
        letter-spacing: 0,
        margin: 0
);

$typography: (
        header: (
                title: (
                        font-size: 3rem,
                        font-weight: 500
                ),
                1: (
                        font-size: 2rem,
                        font-weight: 500
                ),
                2: (
                        font-size: 1.5rem,
                        font-weight: 700
                ),
                3: (
                        font-size: 1.17rem,
                        font-weight: 700
                ),
                4: (
                        font-size: 1rem,
                        font-weight: 700
                ),
                5: (
                        font-size: .83rem,
                        font-weight: 700
                ),
                6: (
                        font-size: .67rem,
                        font-weight: 700
                )
        ),
        paragraph: (
                normal: (
                        font-size: 1rem,
                        font-weight: 400
                ),
                quote: (
                        font-size: 1rem,
                        font-weight: 400,
                        font-style: italic,
                )
        ),
        button: (
                normal: (
                        font-size: 1rem,
                        font-weight: 500,
                        letter-spacing: 0.035rem
                )
        ),
        input: (
                label: (
                        font-size: .83rem,
                        font-weight: 700
                ),
                text: (
                        font-size: 1rem,
                        font-weight: 400
                )
        ),
        other: (
                caption: (
                        font-size: 0.67rem,
                        font-weight: 600,
                        letter-spacing: 0.035rem
                )
        )
);

@function text-style-properties($group-key,$style-key) {
  @if map-has-key($typography, $group-key) {
    $group: map-get($typography, $group-key);

    @if map-has-key($group, $style-key) {
      @return map-get($group, $style-key);
    }

    @warn "Unknown typograhy style with the key `#{$style-key}` in typography group with the key `#{$group-key}`";
    @return null;
  }

  @warn "Unknown typograhy group with the key `#{$group-key}` in typography";
  @return null;
}

@mixin text-style($group-key,$style-key) {
  $text-style-properties: text-style-properties($group-key, $style-key);
  @each $property, $value in map-merge($base-text-style, $text-style-properties) {
    #{$property}: $value;
  }
}

@mixin typography-classes {
  @each $group-name, $group in $typography {
    @each $text-style-name, $value in $group {
      .text-#{$group-name}-#{$text-style-name} {
        @include text-style($group-name, $text-style-name);
      }
    }
  }
}

$typography-tag-map: (
        body: paragraph normal,
        h1: header 1,
        h2: header 2,
        h3: header 3,
        h4: header 4,
        h5: header 5,
        h6: header 6,
        p: paragraph normal,
        a: paragraph normal,
        textarea: input text,
        input: input text,
        label: input label,
        select: input text,
        button: button normal,
        q: paragraph quote,
        small: other caption,
);

@mixin typography-tag-styles {
  @each $tag-name, $tag-typography in $typography-tag-map {
    #{$tag-name} {
      @include text-style(nth($tag-typography, 1), nth($tag-typography, 2));
    }
  }
}



$typography-tag-margin-map: (
        h1: 0.67em,
        h2: 0.83em,
        h3: 1em,
        h4: 1.33em,
        h5: 1.67em,
        h6: 2.33em,
        p: 1em,
);

@mixin typography-tag-margins {
  @each $tag-name, $tag-margin in $typography-tag-margin-map {
    #{$tag-name} {
      margin-block-start: $tag-margin;
      margin-block-end: $tag-margin;
      margin-inline-start: 0;
      margin-inline-end: 0;
    }
  }
}