$site-width: 1200px;
$media-queries: (
        phone: "screen and (max-width: 550px)",
        tablet: "screen and (min-width: 551px) and (max-width: #{$site-width})",
        desktop: "screen and (min-width: (#{$site-width} + 1px))",
);
